header {
  flex: 0 90px;
  background-color: rgba(0, 0, 0, 0.9);

  display: block;
  unicode-bidi: isolate;
}

main {
  background-color: rgb(194, 193, 193);

  /* flex: 1 calc(100vh - 110px);
  display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: space-around; */

  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
  
  height: 100%;

  /* flex: 1 calc(100vh - 110px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  color: white;
  flex: 0 30px; 
}

html {
  height: 100%;
}

body {
  /* display: flex;
  flex-direction: column;
  min-width: 375px; */


  height: 100%;
}

/* Notes
Fill max height of item in page
height: 100%; */
