header {
  flex: 0 90px;
  background-color: rgba(0, 0, 0, 0.9);

  height: 10%;

  /* display: block;
  unicode-bidi: isolate;
  margin: auto; */
}

.game-name{
  vertical-align: middle;

}

menu{
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
  margin-bottom: 10px;
}

main {
  background-color: rgb(194, 193, 193);

  /* flex: 1 calc(100vh - 110px);
  display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: space-around; */

  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
  
  height: 90%;

  /* flex: 1 calc(100vh - 110px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  color: white;
  flex: 0 30px; 
}

html {
  height: 100%;
}

body {
  /* display: flex;
  flex-direction: column;
  min-width: 375px; */


  height: 100%;
}

/* Notes
Fill max height of item in page
height: 100%; */
